registry=https://registry.npmjs.org/
@ess:registry=https://pkgs.dev.azure.com/enterprisesoftwaresystems/ess-angular/_packaging/npm-packages/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/enterprisesoftwaresystems/ess-angular/_packaging/npm-packages/npm/registry/:username=enterprisesoftwaresystems
//pkgs.dev.azure.com/enterprisesoftwaresystems/ess-angular/_packaging/npm-packages/npm/registry/:_password=amJsZDI0ZzdobGJpa2ljaTNqdHllaWxidGpkbHptaHVjY3RuemVxcjd0b3dzbWpiZXNiYQ==
//pkgs.dev.azure.com/enterprisesoftwaresystems/ess-angular/_packaging/npm-packages/npm/registry/:email=noratt@essl.co.uk
//pkgs.dev.azure.com/enterprisesoftwaresystems/ess-angular/_packaging/npm-packages/npm/:username=enterprisesoftwaresystems
//pkgs.dev.azure.com/enterprisesoftwaresystems/ess-angular/_packaging/npm-packages/npm/:_password=amJsZDI0ZzdobGJpa2ljaTNqdHllaWxidGpkbHptaHVjY3RuemVxcjd0b3dzbWpiZXNiYQ==
//pkgs.dev.azure.com/enterprisesoftwaresystems/ess-angular/_packaging/npm-packages/npm/:email=noratt@essl.co.uk
; end auth token
